.About {
    padding-top: 170px;
    padding-bottom: 150px;

    &__title {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        display: flex;
        align-items: center;

        color: #283437;

    }

    &__text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 65px;
        text-transform: uppercase;
        width: 100%;
        max-width: 1076px;
        color: #141718;
        margin-top: 33px;
        margin-bottom: 58px;

        &>span {
            background: #4EB027;
            border-radius: 30px;
            padding: 10px 26px;
            color: #ffffff;
            margin-left: -26px;

        }
    }

    &__textOur {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: -0.05em;
        color: #222222;
    }
}