.button {
    border: none;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #222222;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    &::after {
        content: '';
        display: inline-block;
        width: 26px;
        height: 26px;
        background-image: url('../../../img/Group48098534.svg');
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 16px;
    }
}