.NewsCart {
    &__bottom {
        display: flex;
        gap: 10px;

    }

    &__Cards {

        display: flex;
        gap: 10px;




        &__left {
            background: #F5F3EF;
            border-radius: 8px;
            width: 538px;
        }

        &__title {
            margin: 20px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
            color: #283437;
            width: 100%;
            max-width: 489px;
        }

        &__data {

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #283437;
            opacity: 0.6;
            margin-bottom: 20px;
            margin-left: 20px;
        }

        &__right {
            &>div {
                height: 260px;
                width: 437px;
                position: relative;

                &:first-child {
                    margin-bottom: 10px;
                }

                &>img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                }


                p:nth-child(2) {
                    position: absolute;
                    bottom: 20px;
                    left: 20px;
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 17px;
                    line-height: 18px;
                    color: #FFFFFF;
                    width: 305px;
                    margin-bottom: 9px;
                    z-index: 3;
                }

                p:last-child {
                    position: absolute;
                    bottom: 10px;
                    left: 20px;
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: #FFFFFF;
                    opacity: 0.4;
                    z-index: 3;


                }

            }
        }
    }

    &__Slider {
        display: flex;
    }

    &__Marquee {

        &::-webkit-scrollbar {
            display: none;
        }
    }
}